.text-s-purple {
    color: rgba(66, 0, 255, .5);
}

.bg-s-purple {
    background: rgba(66, 0, 255, .5);
}

.text-s-blue {
    color: rgba(62, 114, 246, .5);

}

.bg-s-blue {
    background: rgba(62, 114, 246, .5);
}
