@font-face {
    font-family: 'Actay-Regular';
    src: url('assets/fonts/Actay-Regular.otf') format('opentype')
}

@font-face {
    font-family: 'ActayWide-Bold';
    src: url('assets/fonts/ActayWide-Bold.otf') format('opentype')
}

@font-face {
    font-family: 'Nunito-Regular';
    src: url('assets/fonts/Nunito-Regular.ttf') format('truetype')
}
