// brand colors
$purple: #9A9CE9;
$purple-light: #A2B9ED;
$blue-light: #A3DCEF;
$mint-light: #AEEEE0;

// state colors
$success: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;
$s-purple: rgba(66, 0, 255, .5);

// common colors
$white: #FFFFFF;
$black: #000000;
$blue: #3E72F6;
$grey: #D9D9D9;
$grey-75: #828282;
$grey-100: #EEEEEE;
$grey-200: #CBCBCB;
